@import "./styles/Header";
@import "./styles/Footer";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	width: 100%;
	height: auto;
}
a {
	text-decoration: none;
}

.container {
	width: 100%;
	height: auto;
	max-width: 1204px;
	margin-inline: auto;
}
